In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector as connector

In [8]:
connection = connector.connect(user = "root", password = "root", db = "little_lemon")

ProgrammingError: 1045 (28000): Access denied for user 'your_username'@'localhost' (using password: YES)

In [4]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

NameError: name 'cursor' is not defined

In [5]:
results

NameError: name 'results' is not defined

In [6]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

NameError: name 'cursor' is not defined

In [10]:
customer_join_query = '''
        SELECT
            c.Name AS FullName,
            cd.Email AS Email,
            cd.PhoneNumber AS PhoneNumber,
            cd.Address AS Address,
            cd.Country AS Country,
            cd.City AS City,
            o.TotalCost AS Cost
        FROM Customers c
        JOIN ContactDetails cd
            USING (CustomerID)
        JOIN orders o
            USING (CustomerID)
        WHERE o.TotalCost > 60
        ORDER BY o.TotalCost DESC;
'''

In [ ]:
cursor.execute(customer_join_query)

In [ ]:
customers = cursor.fetchall()

In [ ]:
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')